= '<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>'
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = '<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/css/bootstrap.css" />'
    = '<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/css/home.css" />'
    = '<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/css/autocomplete.css" />'
    = '<script src="<%=request.getContextPath()%>/js/jquery.js"></script>'
    = '<script src="<%=request.getContextPath()%>/js/jquery.autocomplete.js"></script>'
    = '<script src="<%=request.getContextPath()%>/js/bootstrap.js"></script>'
    = '<script src="<%=request.getContextPath()%>/js/util.js"></script>'
    = '<script src="<%=request.getContextPath()%>/js/autocomplete.js"></script>'
  %body
    .logo-wrap.text-center
      %h1.logo
        %span.strong O
        %span> mni
        %span.strong> M
        %span usic
      %strong.slogan
        Your music brain

    .central-featured
      .svg-wrap
        %svg{:preserveaspectratio => "xMidYMid meet", :version => "1.1", :viewbox => "674 344 407 440", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %g#logo__item--logo_0.logo__item{"data-item" => "Image", "data-item-type" => "image", "data-logo-item" => ""}
            %g.logo__item__inner{:transform => "translate(629.574471842816 328.5) scale(0.2364116058637856 0.2364116058637856) rotate(0 0 0)"}
              %g
                %lineargradient#logo__item--logo_0__0{:gradientunits => "objectBoundingBox", :x1 => "0.5", :x2 => "0.5", :y1 => "0", :y2 => "1"}
                  %stop{:offset => "0", :style => "stop-color:#2C1D16"}
                  %stop#portal-img-stop{:offset => "1"}
                %filter#logo__item--logo_0__0_Effect{:height => "300%", :width => "300%", :x => "-100%", :y => "-100%"}
                  %fegaussianblur{:in => "SourceGraphic", :result => "glow", :stddeviation => "5"}
                  %femerge
                    %femergenode{:in => "glow"}
                    %femergenode{:in => "SourceGraphic"}
                %path{:d => "M719.4,775.5l-4.1,42.6l-11.9,122.5l-15.6,159.9l-11.9,121.9l-18.7,192.8l-7,72.4   c-70.9-67.9-198.3-63.7-302.5,10c-6.9,4.8-13.6,10-20.4,15.5c-32.2,26.8-58.1,57.9-76.9,90.3c-47.3,82.1-50.5,174.7,0.7,236.8   c67.4,82.2,204.7,82.2,315.4,3.8c7-4.9,13.7-9.9,20.5-15.5c59.2-48.7,96.3-111.6,108.9-173.1l0.9,0.1l1-11.6   c1.4-8.6,2.4-17.6,2.6-26.1l8.2-85.3l11.8-121.9l18.8-193.9l12.1-122.7l8.1-83.8l479-79.8l302.4-50.4l-8.5,88.6l-17.1,174.1   l-11.3,116.1l-15.7,162.7c-67.5-64.9-186.4-63.4-287.5,0.5c-5.2,3.2-10.4,5.8-15.3,9.1c-6.9,5-13.7,10.1-20.3,15.6   c-31.3,25.8-56.4,55.6-75.1,87c-49.2,82.7-53.2,177-1.2,240.2c67.5,81.9,204.7,82.1,315.3,3.8c7-4.9,13.8-10.1,20.4-15.5   c54.4-44.8,90.3-100.7,105.2-157.4c4.3-16.1,7.2-26.9,8-46.9h0.2l6.6-68.6l21-215.7l11.3-116.5l16.8-174.6l10.9-113.1l0.5-3.8   l23.2-239.5L726.7,776.3L719.4,775.5z", "data-filter-glow" => "", "data-filter-glow-thickness" => "5", "data-part-id" => "logo__item--logo_0__0", :fill => "url(#logo__item--logo_0__0)", :filter => "url(#logo__item--logo_0__0_Effect)"}
                %filter#logo__item--logo_0__1_Effect{:height => "300%", :width => "300%", :x => "-100%", :y => "-100%"}
                  %fegaussianblur{:in => "SourceGraphic", :result => "glow", :stddeviation => "5"}
                  %femerge
                    %femergenode{:in => "glow"}
                    %femergenode{:in => "SourceGraphic"}
                %path{:d => "M304.1,1091.8c0,0,0.2,17.4,22.1,21.2c23.8,7,30.5-11.3,30.5-11.3l51.4,11.2l-30.4-149.3   c16.7-3.6,31-17.8,34.9-37.2c3.7-17.8-2.5-35.2-14.3-45.6l2-8.1l50.3-217.8l257.1,85.4l214.5-37.9l415.9-73.5l280.5-49.6   l271.9-195.7L1092.3,89.4L347.9,620.9l56,18.6l-47.2,234c-13.4,5.6-24.4,18.3-27.7,34.7c-3.1,16,1.4,31.7,10.8,42.5l-86.2,128.5   L304.1,1091.8z", "data-filter-glow" => "", "data-filter-glow-thickness" => "5", "data-part-id" => "logo__item--logo_0__1", :fill => "#2C1D16", :filter => "url(#logo__item--logo_0__1_Effect)"}
      .feature-box.feature1
        .span.title
          Artists
        -# 1093873
        .span.count
          1,093,800
      .feature-box.feature2
        .span.title
          Releases
        -# 1635504
        .span.count
          1,635,500
      .feature-box.feature3
        .span.title
          Recordings
        -# 16193721
        .span.count
          16,193,700

      .feature-box.feature4
        .span.title
          Data Sources
        .span.count
          4
      .feature-box.feature5
        .span.title
          Search
        .span.info
          filtering & ranking
      .feature-box.feature6
        .span.title
          Analysis
        .span.info
          multi-dimensional
      .feature-box.feature7
        .span.title
          Data Visualization
        .span.info
          wide variety

    .form-wrap.text-center
      %form.form-inline.form-portal{ action: '/musictag/search' }
        .form-group
          %label.sr-only{:for => "#navbar-search-input"} search
          %input#navbar-search-input.form-control{:placeholder => "Input anything about music", :type => "text", :name => "key"}/
        %button.btn{:type => "submit"}
          %i.glyphicon.glyphicon-search

    %footer.portal-footer
      .copyright.text-center
        %i.glyphicon.glyphicon-copyright-mark
        %span.project
          PPSHA2016SummerInternProgram: Music-Tag
        %span= '|'
        %span.credits
          Credits: Shile Zhang, Tingjie Jia, Delin Liu, Gaoying Ju

