= '<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>'
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = '<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/css/bootstrap.css" />'
    = '<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/css/release.css" />'
    = '<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/css/artist-overview.css" />'
    = '<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/css/search.css" />'
    = '<link rel="stylesheet" type="text/css" href="<%=request.getContextPath()%>/css/filter.css" />'
    = '<script src="<%=request.getContextPath()%>/js/jquery.js"></script>'
    = '<script src="<%=request.getContextPath()%>/js/bootstrap.js"></script>'
    = '<script src="<%=request.getContextPath()%>/js/util.js"></script>'
    = '<script src="<%=request.getContextPath()%>/js/tag_builder.js"></script>'
    = '<script src="<%=request.getContextPath()%>/js/paginator.js"></script>'
    = '<script src="<%=request.getContextPath()%>/js/search.js"></script>'
    = '<script src="<%=request.getContextPath()%>/js/filter.js"></script>'
  %body
    = '<%@ include file="_navbar.html"%>'
    .container{:style => "margin-top:80px;"}
      .row
        .col-md-6.col-md-offset-3
          %form{action: '/musictag/search'}
            #search-bar.input-group
              %input#search-input.form-control{placeholder: "Search for...", name: 'key', type: "text"}
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.glyphicon.glyphicon-search

      #search-summary
        %p &nbsp;

      / Nav tabs
      %ul.nav.nav-tabs#search-tabs{:role => "tablist"}
        %li{:role => "presentation"}
          %a#recordings-tab{"aria-controls" => "home", "data-toggle" => "tab", :href => "#recordings", :role => "tab"} Recordings
        %li{:role => "presentation"}
          %a#artists-tab{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#artists", :role => "tab"} Artists
        %li{:role => "presentation"}
          %a#releases-tab{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#releases", :role => "tab"} Albums
        %li{:role => "presentation"}
          %a#lyrics-tab{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#lyrics", :role => "tab"} Lyrics
      / Tab panes
      .tab-content
        #recordings.tab-pane.fade{:role => "tabpanel"}
          %table#recording-tbl.table.table-striped{data: {pagination: '#recordings-pagination', 'per-page': 24, window: 10, 'page-param': 'currPage', 'per-page-param': 'perPage'}}
            %thead
              %th Name
              %th Artist(s)
              %th Related album(s)
              %th Length
            %tbody
          #recordings-pagination.text-center
        #artists.tab-pane.fade{:role => "tabpanel"}
          %button#apply-filter.btn.btn-success
            Apply filter
          #artist-filter.panel.panel-default
          #artist-partition.panel.panel-default
            .partition.row
              .col-md-1
                %span.field Range
              .col-md-11
                - [ %w(Connections relationship), %w(Popularity popularity), %w(Influence influence),
                    %w(Productivity productivity), ['Active span', 'active_span'] ].each do |title, dim|
                  %span.partition-input{'data-partition-field': dim + '_rank'}
                    %span.field= title + ':'
                    %input.begin.form-control{type: :text, maxlength: 2}
                    %span= '~'
                    %input.end.form-control{type: :text, maxlength: 2}
          #artist-sorter.panel.panel-default
            .sorter.row
              .col-md-1
                %span.field Order by
              .col-md-11.sorter-group
                - [ %w(Connections relationship), %w(Popularity popularity), %w(Influence influence),
                    %w(Productivity productivity), ['Active span', 'active_span'] ].each do |title, dim|
                  %span.sorter-pair
                    %i.up.glyphicon.glyphicon-triangle-top{data: {sorter: dim + '_score'}}
                    %span.sorter-name= title
                    %i.down.glyphicon.glyphicon-triangle-bottom{data: {sorter: dim + '_score'}}

          #artist-frames.row{data: {pagination: '#artist-pagination', 'per-page': 24, window: 10, 'page-param': 'currPage', 'per-page-param': 'perPage'}}
          #artist-pagination.text-center
        #releases.tab-pane.fade{:role => "tabpanel"}
          #release-frames.row{data: {pagination: '#release-pagination', 'per-page': 24, window: 10, 'page-param': 'currPage', 'per-page-param': 'perPage'}}
          #release-pagination.text-center

        #lyrics.tab-pane.fade{:role => "tabpanel"}
          %table#lyric-tbl.table.table-striped{data: {pagination: '#lyrics-pagination', 'per-page': 24, window: 10, 'page-param': 'currPage', 'per-page-param': 'perPage'}}
            %thead
              %th Recording
              %th Lyric
            %tbody
          #lyrics-pagination.text-center
